// Variables

// Restated Bootstrap Variables

$white: #fff !default;
// $white: #F8F6F7 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// $primary: #28a745 !default; 
// $primary: #2E744B !default; 
$primary: #006838 !default; 
$secondary: #1F7F35 !default;
$tertiary: #28a745 !default;

